.about-us {
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, #393F47 40%, $dark 40% 60%, #393F47 60%);
   padding: 166px 250px 129px;

   .row {
      width: 100%;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
   }

   &__descr {
      margin-top: 30px;
      margin-bottom: 50px;
      color: #fff;
      font-size: 18px;
      line-height: 1.5;
   }

   &__btn {
      width: 220px;
      height: 55px;
      display: block;
      text-transform: uppercase;
      background: $gold;
      color: #fff;
      border: none;

      &:focus {
         outline: none;
      }
   }

   &__arrows {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 500;

      a {
         color: $gold;
         text-decoration: none;
      }
   }

   .arrow-right {
      position: relative;
      right: calc(100% + 31px);

      &::after {
         content: '';
         background: url(../images/about-us/right.png) 0 0/cover no-repeat;
         width: 100%;
         height: 100%;
         position: absolute;
         left: calc(100% + 31px);
         top: 0;
      }
   }

   .arrow-left {
      position: relative;

      &::before {
         content: '';
         background: url(../images/about-us/right.png) 0 0/cover no-repeat;
         width: 100%;
         height: 100%;
         position: absolute;
         right: calc(100% + 31px);
         top: 0;
         transform: rotate(180deg);
      }
   }
}