.home {
   background: url(../images/home/truck.png) center center / cover no-repeat;
   padding-top: 155px;
   padding-bottom: 220px;
   position: relative;

   &__rectangle {
      margin: 0 auto;
      width: 920px;
      height: 245px;
      border: 1px solid $gold;
      padding: 45px 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__title {
      font-weight: 700;
      text-align: center;
      font-size: 64px;
      color: #fff;
      text-transform: uppercase;
   }

   &__descr {
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      text-align: center;
   }

   &__page-down {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
   }
}